/* Block: container */
.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 120px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.register__title {
  font-size: 2em;
  font-weight: 800;
}

.register__subtitle {
  font-size: 1em;
  font-weight: 600;
}

.register__terms {
  display: flex;
  margin: 15px 0;
  font-size: 0.5em;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

.social-buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px 10px;
  background-color: white;
  color: #0056b3;
  border: 1px solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
}

.social-buttons__button:hover {
  background-color: #f1f1f1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group__label {
  margin-bottom: 0;
}

.form-group__input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Element: form-group__button */
.form-group__button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group__button:hover {
  background-color: #0056b3;
}

/* Block: login-link */
.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link__a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 600;
}

.login-link__a:hover {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 30px auto;
    padding: 60px 20px;
    gap: 15px;
  }

  .form-group {
    gap: 3px;
  }

  .form-group__input,
  .form-group__button {
    padding: 6px;
  }
}
